<div class="container">
  <div class="col-12">
    <code> Please Click on any date to Create a new Event!</code>
  </div>
  <div class="col">
       <div class='app-calendar'>
        <full-calendar 
          #calendar
          defaultView="dayGridMonth" 
          [header]="options" 
          [plugins]="calendarPlugins" 
          [weekends]="calendarWeekends" 
          [events]="calendarEvents"
          (dateClick)="handleDateClick($event)"></full-calendar>
      </div>
    </div>
  </div>
