
<div id="donut" data-donut="90">
</div>
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Event's List</h3>
                <button type="submit" mat-raised-button color="primary" title="Add Event"
                [routerLink]="['/events-calander']"
                class="pull-right"
                routerLinkActive="router-link-active">Add Event</button>
                <div class="table-container mat-elevation-z8">
                    <table 
                    mat-table 
                    #gridtable_1 
                    [dataSource]="dataSource" 
                    matSort 
                    aria-label="Elements"
                    matSortActive="name" 
                    class="mat-table mat-elevation-z8 col-lg-12">

                        <ng-container matColumnDef="organizer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="12.222%">Organizer</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.organizer}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="12.222%">Company</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.company}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="about">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="44.444%">About</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.about}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="scheduled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Scheduled At</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.scheduled_at}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="duration">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%">Duration</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.duration}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="capacity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="auto">Capacity</th>
                            <td mat-cell *matCellDef="let event">
                                <div style="position: relative">
                                    <mat-progress-bar mode="determinate" [value]='event.capacity'></mat-progress-bar>
                                    <span style="position: absolute; top: 0.5em;"
                                    [ngStyle]="{'left': progress + '%'}">{{event.capacity}}%</span>
                                  </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Filter</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle
                                [checked]="element.isToggled"
                                (change)="isToggle($event)">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="dataSource.length" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
