
<div id="donut" data-donut="90">
</div>
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Event's List</h3>
                <div class="table-data__tool d-none">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item</button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="table-container mat-elevation-z8">
                    <table mat-table #gridtable [dataSource]="dataSource" matSort aria-label="Elements"
                        matSortActive="name" class="mat-table mat-elevation-z8 col-lg-12">

                        <ng-container matColumnDef="organizer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="12.222%">Organizer</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.organizer}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="12.222%">Company</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.company}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="about">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="44.444%">About</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.about}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="scheduled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Scheduled At</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.scheduled_at}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="duration">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%">Duration</th>
                            <td mat-cell *matCellDef="let event">
                                {{event.duration}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="capacity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="auto">Capacity</th>
                            <td mat-cell *matCellDef="let event">
                                <div style="position: relative">
                                    <mat-progress-bar mode="determinate" [value]='event.capacity'></mat-progress-bar>
                                    <span style="position: absolute; top: 0.5em;"
                                    [ngStyle]="{'left': progress + '%'}">{{event.capacity}}%</span>
                                  </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Toggle Display</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle
                                [checked]="element.isToggled"
                                (change)="isToggle($event)">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
