    <!-- SPINNER LOADING ICON -->
    <div id="overlay">
        <mat-spinner id="loadingIcon"></mat-spinner>
    </div>
    <!-- SPINNER ENDS HERE -->
    
    <!-- HEADER -->
    <app-header></app-header>
    <!-- END HEADER -->
    
    <div id="layoutSidenav">
        <!-- LEFT NAV STARTS -->
        <div id="layoutSidenav_nav">
            <app-sidenav></app-sidenav>
        </div>
        <!-- LEFT NAV ENDS -->
        <!-- PAGE CONTENT-->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Home / {{breadCrumb}}</li>
                    </ol>
                    <router-outlet>
                    </router-outlet>
                </div>
            </main>
            <app-footer>
            </app-footer>
        </div>
    </div>
     
